.header{
  margin-top: 5px;
}
.logo1{
  height: 60px;
  position: relative;
  left: 15px;
  top: 6px
}
.title{
  font-size: 60px;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(0, 184, 78);
}
.logo2{
  height: 90px;
      /* padding-left: 50px; */
      display: flex;
      float: right;
}
.colorText{
  font-family: 'Fjalla One', sans-serif;
  color: rgb(0, 184, 78);
  margin-bottom: 0px !important;
}
p{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}
/* .txt{
  border-bottom-style: dotted;
} */
.chatprompt{
    /* margin: 34px; */
    right: 0px; 
    bottom: 40px;
    z-index: 100;
    /* height: 80px; */
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.click{
  margin-top: -54px;
  font-size: 20px;
}

.material-icons{
  position: relative;
  top: 5px;
 
}
.txt{
  margin-top: 35px;
  margin-bottom: 35px;
}

.txtfirst{
  margin-top:-40px;
}